<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>connect</servlet-name>
        <servlet-class>connect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connect1</servlet-name>
        <servlet-class>connect1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminV</servlet-name>
        <servlet-class>adminV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentD</servlet-name>
        <servlet-class>commentD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commD</servlet-name>
        <servlet-class>commD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adComm</servlet-name>
        <servlet-class>adComm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentVer</servlet-name>
        <servlet-class>CommentVer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCom</servlet-name>
        <servlet-class>searchCom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutad</servlet-name>
        <servlet-class>logoutad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contollerVer</servlet-name>
        <servlet-class>contollerVer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>connect</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connect1</servlet-name>
        <url-pattern>/connect1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminV</servlet-name>
        <url-pattern>/adminV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentD</servlet-name>
        <url-pattern>/commentD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commD</servlet-name>
        <url-pattern>/commD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adComm</servlet-name>
        <url-pattern>/adComm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentVer</servlet-name>
        <url-pattern>/CommentVer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCom</servlet-name>
        <url-pattern>/searchCom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutad</servlet-name>
        <url-pattern>/logoutad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contollerVer</servlet-name>
        <url-pattern>/contollerVer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
